Repository ithacaxyz/op-rs, pull requests merged in 2024-09, with the labels that each got.

#75 feat(net): Arbitrary Payload Hash
  Cargo.lock
  Cargo.toml
  crates/net/Cargo.toml
  crates/net/src/types/payload.rs
Labels: C-enhancement, A-net

#86 feat(rollup): step function
  crates/rollup/src/driver/cursor.rs
  crates/rollup/src/driver/mod.rs
  crates/rollup/src/validator.rs
Labels: C-enhancement, A-rollup

#85 fix: compile errors due to unpinned dependencies
  Cargo.lock
  Cargo.toml
  crates/kona-providers/Cargo.toml
  crates/kona-providers/src/blob_provider.rs
  crates/net/Cargo.toml
  crates/net/src/types/envelope.rs
  crates/net/src/types/payload.rs
  crates/rollup/src/driver/context/mod.rs
  crates/rollup/src/driver/context/standalone.rs
  crates/rollup/src/driver/cursor.rs
  crates/rollup/src/driver/mod.rs
  crates/rollup/src/validator.rs
  crates/ser/Cargo.toml
  crates/ser/src/types/channel_out.rs
Labels: C-enhancement, A-dependencies

#77 feat(driver): standalone driver context
  Cargo.lock
  Cargo.toml
  bin/hera/src/main.rs
  bin/hera/src/network.rs
  crates/kona-providers/Cargo.toml
  crates/kona-providers/src/blob_provider.rs
  crates/kona-providers/src/chain_provider.rs
  crates/net/Cargo.toml
  crates/net/src/types/envelope.rs
  crates/net/src/types/payload.rs
  crates/rollup/Cargo.toml
  crates/rollup/src/cli.rs
  crates/rollup/src/driver.rs
  crates/rollup/src/driver/context/exex.rs
  crates/rollup/src/driver/context/mod.rs
  crates/rollup/src/driver/context/standalone.rs
  crates/rollup/src/driver/cursor.rs
  crates/rollup/src/driver/mod.rs
  crates/rollup/src/validator.rs
  crates/ser/Cargo.toml
  crates/ser/src/types/channel_out.rs
Labels: C-enhancement, A-rollup

#88 fix(rollup): init pipeline based on real l2 tip
  bin/hera/src/node.rs
  crates/rollup/src/driver/cursor.rs
  crates/rollup/src/driver/mod.rs
  crates/rollup/src/pipeline.rs
Labels: C-enhancement, A-rollup, D-stacked

#91 feat(rollup): abstract L1 cache behind `ExExHeraContext`
  bin/hera/src/node.rs
  crates/rollup/src/cli.rs
  crates/rollup/src/driver/context/exex.rs
  crates/rollup/src/driver/context/mod.rs
  crates/rollup/src/driver/context/standalone.rs
  crates/rollup/src/driver/mod.rs
  crates/rollup/src/lib.rs
Labels: C-enhancement, A-rollup, D-stacked

#93 fix: trim last / from urls
  crates/kona-providers/src/blob_provider.rs
  crates/rollup/src/driver/mod.rs
Labels: C-bug

#97 fix: compile errs due to dep upgrades
  Cargo.lock
  crates/kona-providers/Cargo.toml
  crates/kona-providers/src/blob_provider.rs
  crates/kona-providers/src/chain_provider.rs
  crates/rollup/src/driver/mod.rs
Labels: C-bug
