Repository ithacaxyz/op-rs, pull requests merged in 2024-08, with the labels that each got.

#29 feat(kona-providers): layered blob provider
  Cargo.lock
  Cargo.toml
  bin/hera/Cargo.toml
  crates/kona-providers/Cargo.toml
  crates/kona-providers/src/blob_provider.rs
  crates/kona-providers/src/lib.rs
Labels: C-enhancement, A-kona

#30 feat(rollup): attributes validator
  Cargo.lock
  Cargo.toml
  crates/rollup/Cargo.toml
  crates/rollup/src/lib.rs
  crates/rollup/src/validator.rs
Labels: C-enhancement, A-hera

#31 feat(rollup): create rollup pipeline from `kona_derive`
  Cargo.lock
  Cargo.toml
  crates/rollup/Cargo.toml
  crates/rollup/src/lib.rs
  crates/rollup/src/pipeline.rs
Labels: C-enhancement, A-hera

#41 feat(net): Usage Docs
  crates/net/README.md
  crates/net/src/builder.rs
  crates/net/src/driver.rs
  crates/net/src/lib.rs
Labels: C-docs, A-net

#42 fix(net): Touchup Discovery Builder Pattern
  crates/net/src/discovery/builder.rs
  crates/net/src/discovery/driver.rs
Labels: A-net

#37 feat(rollup): init exex driver and pipeline
  Cargo.lock
  bin/op-rs/src/main.rs
  crates/kona-providers/src/blob_provider.rs
  crates/rollup/Cargo.toml
  crates/rollup/src/cli.rs
  crates/rollup/src/driver.rs
Labels: C-enhancement, A-hera

#46 fix(net): Allow custom noise configuration
  crates/net/src/builder.rs
Labels: A-net

#47 feat(net): Refactor GossipDriver
  crates/net/src/builder.rs
  crates/net/src/driver.rs
  crates/net/src/gossip/driver.rs
Labels: C-refactor, A-net

#48 feat(net): NetworkDriverBuilder Unit Tests
  crates/net/src/builder.rs
  crates/net/src/discovery/driver.rs
Labels: A-net

#49 feat(net): Pass in Gossipsub Config
  Justfile
  crates/net/src/builder.rs
  crates/net/src/gossip/config.rs
  crates/net/src/gossip/driver.rs
Labels: A-net

#50 feat(rollup): init telemetry
  Cargo.lock
  bin/hera/Cargo.toml
  bin/hera/src/main.rs
  crates/rollup/Cargo.toml
  crates/rollup/src/lib.rs
  crates/rollup/src/telemetry.rs
Labels: A-hera, A-observability

#53 fix(net): Inline Rust Code
  crates/net/README.md
Labels: A-net

#55 feat(net): Remove NetworkAddress
  crates/net/src/builder.rs
  crates/net/src/discovery/builder.rs
  crates/net/src/discovery/driver.rs
  crates/net/src/types/address.rs
  crates/net/src/types/mod.rs
  crates/net/src/types/peer.rs
Labels: A-net

#59 fix(net): Enr Data Encoding
  crates/net/src/discovery/builder.rs
  crates/net/src/types/enr.rs
Labels: C-bug, A-net

#44 feat(hera): Run the Network Driver
  Cargo.lock
  Cargo.toml
  bin/hera/Cargo.toml
  bin/hera/src/main.rs
  bin/op-rs/Cargo.toml
  crates/net/README.md
  crates/net/src/builder.rs
  crates/net/src/discovery/bootnodes.rs
  crates/net/src/driver.rs
  crates/net/src/gossip/config.rs
Labels: A-hera

#57 feat(rollup): handle chain notifications
  Cargo.lock
  crates/rollup/Cargo.toml
  crates/rollup/src/driver.rs
Labels: C-enhancement, A-rollup

#61 fix(net): Remove localhost Sockets
  crates/net/README.md
  crates/net/src/builder.rs
  crates/net/src/discovery/driver.rs
Labels: C-docs, A-net

#62 feat(hera): Unsafe Block Signer
  Cargo.lock
  bin/hera/Cargo.toml
  bin/hera/src/main.rs
Labels: A-hera

#67 feat(net): Peer Arbitrary and Testing
  crates/net/src/types/peer.rs
Labels: C-enhancement, A-net, D-do-not-merge, D-stacked

#63 feat(hera): Subcommands
  bin/hera/src/globals.rs
  bin/hera/src/main.rs
  bin/hera/src/network.rs
  bin/hera/src/node.rs
Labels: C-enhancement, A-hera, D-do-not-merge, D-stacked

#64 fix(net): Retry discv5 Service on Startup
  crates/net/src/discovery/driver.rs
Labels: C-enhancement, A-net, D-do-not-merge, D-stacked
